In [1]:
import numpy as np
#import gzip, pickle
#import scipy
import pandas as pd

In [2]:
bim_file = "/gpfs/gibbs/pi/zhao/gz222/SDPR_admix/Real/genotype/UKB/Ukb_imp_v2.bim"

# Read the .bim file into a pandas DataFrame
# .bim files are usually space/tab delimited, so use delim_whitespace=True
bim_df = pd.read_csv(bim_file, delim_whitespace=True, header=None)

# Assign column names for better readability
bim_df.columns = ['Chromosome', 'rsID', 'Genetic_distance', 'Position', 'Allele1', 'Allele2']

/tmp/ipykernel_3595930/35255948.py:5: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  bim_df = pd.read_csv(bim_file, delim_whitespace=True, header=None)

In [6]:
print(bim_df.head())

   Chromosome        rsID  Genetic_distance  Position Allele1 Allele2
0           1  rs12562034                 0    833068       A       G
1           1   rs4040617                 0    843942       G       A
2           1   rs4970383                 0    903175       A       C
3           1   rs4475691                 0    911428       T       C
4           1   rs1806509                 0    918574       A       C

In [23]:
glm_file = "/gpfs/gibbs/pi/zhao/fw286/RealData/height_gwas.PHENO1.glm.linear"

# Read the .glm.linear file into a pandas DataFrame
glm_df = pd.read_csv(glm_file, delim_whitespace=True)

# Display the first few rows of the DataFrame
print(glm_df.head())

/tmp/ipykernel_3595930/3446340865.py:4: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  glm_df = pd.read_csv(glm_file, delim_whitespace=True)

   #CHROM     POS               ID REF ALT A1 TEST  OBS_CT      BETA  \
0       1  833068  chr1:833068:G:A   G   A  A  ADD   13135 -0.093085
1       1  843942  chr1:843942:A:G   A   G  G  ADD   13135 -0.131037
2       1  903175  chr1:903175:C:A   C   A  A  ADD   13135  0.199440
3       1  911428  chr1:911428:C:T   C   T  T  ADD   13135  0.043911
4       1  918574  chr1:918574:C:A   C   A  A  ADD   13135 -0.138256

         SE    T_STAT         P ERRCODE
0  0.155215 -0.599713  0.548708       .
1  0.088304 -1.483930  0.137851       .
2  0.091027  2.190990  0.028470       .
3  0.090954  0.482787  0.629255       .
4  0.089771 -1.540090  0.123563       .

In [24]:
bim_df.rename(columns={'Position': 'POS'}, inplace=True)

# Merge glm_df and bim_df on 'POS'
merged_df = pd.merge(glm_df, bim_df, on='POS', how='inner')

# Display the first few rows of the merged DataFrame
print(merged_df.head())

   #CHROM     POS               ID REF ALT A1 TEST  OBS_CT      BETA  \
0       1  833068  chr1:833068:G:A   G   A  A  ADD   13135 -0.093085
1       1  843942  chr1:843942:A:G   A   G  G  ADD   13135 -0.131037
2       1  903175  chr1:903175:C:A   C   A  A  ADD   13135  0.199440
3       1  911428  chr1:911428:C:T   C   T  T  ADD   13135  0.043911
4       1  918574  chr1:918574:C:A   C   A  A  ADD   13135 -0.138256

         SE    T_STAT         P ERRCODE  Chromosome        rsID  \
0  0.155215 -0.599713  0.548708       .           1  rs12562034
1  0.088304 -1.483930  0.137851       .           1   rs4040617
2  0.091027  2.190990  0.028470       .           1   rs4970383
3  0.090954  0.482787  0.629255       .           1   rs4475691
4  0.089771 -1.540090  0.123563       .           1   rs1806509

   Genetic_distance Allele1 Allele2
0                 0       A       G
1                 0       G       A
2                 0       A       C
3                 0       T       C
4                 0       A       C

In [25]:
final_df = merged_df[['rsID', 'A1', 'Allele2', 'T_STAT', 'OBS_CT']]

# Rename columns for clarity
final_df.columns = ['SNP', 'A1', 'A2',  'Z', 'N']

# Display the first few rows of the final filtered DataFrame
print(final_df.head())

          SNP A1 A2         Z      N
0  rs12562034  A  G -0.599713  13135
1   rs4040617  G  A -1.483930  13135
2   rs4970383  A  C  2.190990  13135
3   rs4475691  T  C  0.482787  13135
4   rs1806509  A  C -1.540090  13135

In [26]:
# Save the final_df as a tab-delimited text file
final_df.to_csv("/gpfs/gibbs/pi/zhao/fw286/RealData/SDPRX_13k.txt", sep="\t", index=False)

In [20]:
summary_df = pd.read_csv("/gpfs/gibbs/pi/zhao/zhao-data/gz222/height/summ_stats/SDPR.txt",delim_whitespace=True)

/tmp/ipykernel_3595930/576351912.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  summary_df = pd.read_csv("/gpfs/gibbs/pi/zhao/zhao-data/gz222/height/summ_stats/SDPR.txt",delim_whitespace=True)

In [21]:
summary_df.head()

          SNP A1 A2   BETA         P       N
0    rs737657  A  G -2.044  0.040954  252156
1   rs7086391  T  C -2.257  0.024008  248425
2   rs1983865  T  C  3.652  0.000260  253135
3   rs1983864  T  G -4.378  0.000012  251364
4  rs12411954  T  C  0.399  0.689893  253213

In [22]:
summary_df = summary_df[['SNP', 'A1', 'A2',  'BETA', 'N']]
summary_df.columns = ['SNP', 'A1', 'A2',  'Z', 'N']

# Display the first few rows of the final filtered DataFrame
print(summary_df.head())
summary_df.to_csv("/gpfs/gibbs/pi/zhao/fw286/RealData/SDPRX_eur.txt",sep = "\t", index=False)

          SNP A1 A2      Z       N
0    rs737657  A  G -2.044  252156
1   rs7086391  T  C -2.257  248425
2   rs1983865  T  C  3.652  253135
3   rs1983864  T  G -4.378  251364
4  rs12411954  T  C  0.399  253213

In [27]:
pd.merge(summary_df,final_df,on = 'SNP',how = 'inner')

               SNP A1_x A2_x    Z_x     N_x A1_y A2_y       Z_y    N_y
0         rs737657    A    G -2.044  252156    G    A -2.410150  13135
1        rs7086391    T    C -2.257  248425    T    C -0.921594  13135
2        rs1983865    T    C  3.652  253135    T    C -1.592680  13135
3        rs1983864    T    G -4.378  251364    G    T -0.747962  13135
4       rs12411954    T    C  0.399  253213    T    C -1.535510  13135
...            ...  ...  ...    ...     ...  ...  ...       ...    ...
602803  rs11587251    A    G  0.126  230664    A    G -0.364875  13135
602804   rs1910188    A    C  1.311  231038    C    A -0.575346  13135
602805   rs3771341    T    G  0.292  211038    A    G  0.254132  13135
602806    rs764688    T    C -0.806  212033    T    T  0.193239  13135
602807   rs9624480    T    C -0.706  183127    T    C  1.018080  13135

[602808 rows x 9 columns]